<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body class="bg-dark">

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">Login Page</h4>
                    <div th:if="${param.error}">
                        <p class="text-center text-danger" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
                            Invalid details</p>
                    </div>
                    <p th:if="${loginError}" class="error">Wrong user or password</p>
                    <form id="loginForm" th:action="@{/auth/login}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input class="form-control" name="email" type="email" autocomplete="false">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" name="password" type="password" autocomplete="false">
                        </div>
                        <button type="submit" id="loginButton" class="btn btn-primary">Login</button>
                        <br>
                        <p class="message">Not registered? <a th:href="@{/registration}">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    // Define serializeObject function
    $.fn.serializeObject = function() {
        var obj = {};
        var arr = this.serializeArray();
        $.each(arr, function() {
            if (obj[this.name] !== undefined) {
                if (!obj[this.name].push) {
                    obj[this.name] = [obj[this.name]];
                }
                obj[this.name].push(this.value || '');
            } else {
                obj[this.name] = this.value || '';
            }
        });
        return obj;
    };

    // Attach event listener to form submission
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission

        // Get form data
        var formData = $("#loginForm").serializeObject();

        // Make POST request to login endpoint
        $.ajax({
            type: "POST",
            url: "/auth/login", // Adjust the URL to your API endpoint
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function (response) {
                // Redirect to the appropriate page
                window.location.href = "/redirect-after-login";
            },
            error: function (error) {
                // Handle login error, display a message, etc.
                console.error("Login failed:", error.responseJSON.message);
            }
        });
    });
</script>

</body>
</html>
